
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-left-enter,.slide-left-leave-to {
    transform: translateX(-100vw);
}

.slide-left-enter-active,.slide-left-leave-active {
    transition: transform .3s;
    transform: translateX(100vw);
}