
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.p_r10{
    padding-right: 10px;
}
.p_r20{
    padding-right: 20px;
}
.p_r30{
    padding-right: 30px;
}
.p_b10{
    padding-bottom: 10px;
}
.p_b20{
    padding-bottom: 20px;
}
.p_b30{
    padding-bottom: 30px;
}
.p_t10{
    padding-top: 10px;
}
.p_t20{
    padding-top: 20px;
}
.p_t30{
    padding-top: 30px;
}
.p_l10{
    padding-left: 10px;
}
.p_l20{
    padding-left: 20px;
}
.p_l30{
    padding-left: 30px;
}


.m10{
    margin: 10px;
}
.m20{
    margin: 20px;
}
.m_r10{
    margin-right: 10px;
}
.m_r20{
    margin-right: 20px;
}
.m_r30{
    margin-right: 30px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_b20{
    margin-bottom: 20px;
}
.m_b30{
    margin-bottom: 30px;
}
.m_t10{
    margin-top: 10px;
}
.m_t20{
    margin-top: 20px;
}
.m_t30{
    margin-top: 30px;
}
.m_l10{
    margin-left: 10px;
}
.m_l20{
    margin-left: 20px;
}
.m_l30{
    margin-left: 30px;
}

.disFlex{
    display: flex;
}
.Flex{
    flex: 1;
}